body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: #f4f4f4;
    border: black solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.inventory-container,
.cart-container {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.inventory-container h1,
.cart-container h1 {
    text-align: center;
}

.inventory__list,
.cart__list {
    list-style: none;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
}

.inventory__list li,
.cart__list li {
    padding: 10px;
    margin-top: 10px;
    background-color: #cdc5aae5;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}

.amount-input {
    border: none;
    outline: none;
    background: none;
    width: 40px;
    text-align: center;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
}

.plus-btn {
    background-color: #1fa11a;
    color: #fff;
}

.minus-btn {
    background-color: #a21725;
    color: #fff;
}

.delete-btn {
    background-color: #007bff;
    color: #fff;
}

.inventory__list,
.cart-wrapper {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.cart__checkout-btn {
    align-self: flex-end;
    width: 100%;
    padding: 10px;
    align-self: flex-end;
    background-color: #000;
    color: #fff;
}